* {
    box-sizing: border-box;
    margin: 0rem;
}

h1{
    text-align:left;
    text-transform: uppercase;
    font-family: 'Red Hat Mono', monospace;
    font-style: italic;
    font-size: 2.7em;
    /*background-color: #CA5310; */
    padding:.7rem 1rem 0.8rem;
    color:#955E42;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
}

#Instruc{
    text-align: left;

    padding: 1em 0.5em;
    padding-left:2em;
    background-color: #95A3B3;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 700;
    font-size: 1.4rem;
    color:#22031F   ;
    /* width:100%; */
    /* height:100%; */
    /*box-shadow: 0 0 0.4em #87B38D;    */
}

#Title{
    text-transform: uppercase;
    padding:0 1em;
}

a {
    all:unset;
    width: 100%;
    transition: 0.2s border;
    border-radius: 1rem;
    border: 5px solid transparent;
    color: #9C914F;
    background-color: #4B4E6D;
    margin: 3rem 10vh;
    text-align: center;
    font-size: 3em;
    text-transform: capitalize;
    padding: 1em;
    font-family:'Dosis', sans-serif ;
}

.active {
    border: 5px solid #7EBC89;
    box-shadow: 0 0 0.4em black;
    color:#C1DBB3;
}

body {
    text-align: center;
}

#Buttons{
    display: flex;
    flex-direction:row;
    background-color: #955E42;
    margin: 6rem 10rem 1rem;
    border-radius: 2rem;
}

@media (max-width: 1071px) {
    a{
        font-size: 2em;
    }
}
